{% extends 'accounts/main.html'%}

{% block content %}



<div class="col-lg-4 col-md-4 col-sm-6 text-center  mb-30 ">
<table class="table ">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">İsim</th>
      <th scope="col">Soyisim</th>
    </tr>
  </thead>
  <tbody>
      <tr>
      <th scope="row ">Öğr.</th>
      <td> Öğretmenin Adı</td>
      <td> Öğretmenin Soyadı</td>
    </tr>
    <tr>
      <th scope="row ">1</th>
      <td> </td>
      <td> </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td> </td>
      <td> </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td> </td>
      <td> </td>
    </tr>
  </tbody>
</table>
</div>

{% endblock %}


